<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/admin/user">Home</a>
        <a href="/admin/user/create">Create Users</a>
        <a href="/admin/product/create">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/loginPage">Login</a>
    </div>
    <div class="form-add-new">
        <form action="/admin/user/update-user" method="post">
            <fieldset>
                <legend>Update Users:</legend>

                <div class="input-group d-none">
                    <label>
                        ID:
                    </label>
                    <input 
                    type="text" 
                    name="userId" 
                    value="<%= userEdit.id %>"
                    />
                </div>

                <div class="input-group">
                    <label>
                        Email:
                    </label>
                    <input 
                    type="text" 
                    name="email" 
                    value="<%= userEdit.email %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Name:
                    </label>
                    <input 
                    type="text" 
                    name="name" 
                    value="<%= userEdit.name %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Phone:
                    </label>
                    <input 
                    type="text" 
                    name="phone" 
                    value="<%= userEdit.phone %>"
                    />
                </div>
                <div>
                    <button onclick="alert('Update user successfully')"> Save </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>